<!DOCTYPE html>
<html>
  <head>
    <title>new title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Complete user registration
    <br/>
    <br/>
    <br/>
    <% include messages %>
  </body>
  </html>